.ghost-submit {
	position:absolute !important;
	height:0px !important;
	width:0px !important;
	border:none !important;
	padding:0 !important;
}

// Positions
.position-right {
	position:absolute;
	right:0;
}

// Floats
.float-right {
	float:right;
}

// Colors
.mint {
	color: $mint;
}
.btn.mint {
	background: $mint;
}