div
	h1.
		Welcome to <span class='mint'>Hubbub</span>
	p.
		What is hubbub you ask? A <span class='mint'>better</span> way. A better way to interact with the retail
		world. A better way to keep track of what stores you've visited, how many points you've racked up, and
		<span class='mint'>much much more</span>.