h3. Your interactions

table.striped
  thead
    tr
      th.
        Client
      th.
        Merchant
      th.
        Metric
      th.
        Link
      th.
        Date
  tr(ng-repeat='interaction in interactions')
    td(ng-show="user.type == 'merchants'") {{interaction.clientName || interaction.clientId}} <a href="/#/interactions/clients/{{interaction.clientId}}">More of these</a>
    td(ng-show="user.type == 'merchants'") {{user.username}} (You)
    td(ng-show="user.type == 'clients'") {{user.username}} (You)
    td(ng-show="user.type == 'clients'") {{interaction.merchantName || interaction.merchantId}} <a href="/#/interactions/merchants/{{interaction.merchantId}}">More of these</a>
    td {{interaction.metric}}
    td
      a(href='/#/interactions/{{interaction._id}}') View Interaction
    td {{interaction.timestamp  | date:'medium'}}
