h2. Your interactions with<br><span class='mint'>{{interactions[0].merchantId}}</span>

table.striped
  thead
    tr
      th.
        Client
      th.
        Merchant
      th.
        Metric
      th.
        Link
  tr(ng-repeat='interaction in interactions')
    td(ng-show="user.type == 'merchants'") {{interaction.clientId}}
    td(ng-show="user.type == 'merchants'") {{user.username}} (You)
    td(ng-show="user.type == 'clients'") {{user.username}} (You)
    td(ng-show="user.type == 'clients'") {{interaction.merchantId}}
    td {{interaction.metric}}
    td
      a(href='/#/interactions/{{interaction._id}}') View Interaction
