table.striped
	thead
		tr
			th.
				Client
			th.
				Merchant
			th.
				Metric
			th.
				Link
	tr(ng-repeat='interaction in interactions')
		td {{interaction.clientId}}
		td {{interaction.merchantId}}
		td {{interaction.metric}}
		td
			a(href='/#/interactions/{{interaction._id}}') View Interaction
