h2. Interaction <span class="mint">{{interaction._id}}</span>

div
  h4. Metric <span class="mint">{{interaction.metric}}</span>
  h4(ng-show="user.type == 'clients'") {{user.username}} (You)
  h4(ng-show="user.type == 'merchants'"). Client <span class="mint">{{interaction.clientName || interaction.clientId}}</span>
  h4(ng-show="user.type == 'merchants'"). {{user.username}} (You)
  h4(ng-show="user.type == 'clients'"). Merchant <span class="mint">{{interaction.merchantName || interaction.merchantId}}</span>