h2. Interaction <span class="mint">{{interaction._id}}</span>

div
  h4. Metric <span class="mint">{{interaction.metric}}</span>
  h4. Client <span class="mint">{{interaction.clientId}}</span>
  h4. Merchant <span class="mint">{{interaction.merchantId}}</span>