doctype html
html(lang='en')
  head
    title= pageTitle
    link(rel='stylesheet', href='/css/gumby.css', type='text/css')
  body(ng-app='hubbubApp', ng-controller='PageCtrl')
    #main-nav.navbar.metro
        .row
            a.toggle(gumby-trigger='#nav1 > ul', href='#')
                i.icon-menu
            h1.four.columns.logo
                i HB
            ul.eight.columns
                li
                    a(href='/#/') Home
                li(ng-show="user.id == ''")
                    a(href='/#/merchants/login/as') Merchant Login
                li(ng-show="user.id == ''")
                    a(href='/#/clients/login/as') Client Login
                li(ng-show="user.id != ''")
                    a(href='/#/{{user.type}}/{{user.id}}') Profile
                li(ng-show="user.id != ''")
                    a(href='/#/interactions') Interactions
                li(ng-show="user.id != ''")
                    a(href='#', ng-click='logOut()') Log Out
    #wrapper.row

        .container.columns.twelve(ng-view='')

    script(type='text/javascript', src='/components/angular/angular.min.js')
    script(type='text/javascript', src='/components/angular-cookies/angular-cookies.min.js')
    script(type='text/javascript', src='/js/app.js')
    script(type='text/javascript', src='/js/controllers/PageCtrl.js')
    script(type='text/javascript', src='/js/controllers/HomeCtrl.js')
    script(type='text/javascript', src='/js/controllers/ClientListCtrl.js')
    script(type='text/javascript', src='/js/controllers/ClientViewCtrl.js')
    script(type='text/javascript', src='/js/controllers/ClientEditCtrl.js')
    script(type='text/javascript', src='/js/controllers/ClientNewCtrl.js')
    script(type='text/javascript', src='/js/controllers/ClientLoginCtrl.js')
    script(type='text/javascript', src='/js/controllers/MerchantListCtrl.js')
    script(type='text/javascript', src='/js/controllers/MerchantViewCtrl.js')
    script(type='text/javascript', src='/js/controllers/MerchantEditCtrl.js')
    script(type='text/javascript', src='/js/controllers/MerchantNewCtrl.js')
    script(type='text/javascript', src='/js/controllers/MerchantLoginCtrl.js')
    script(type='text/javascript', src='/js/controllers/InteractionClientListCtrl.js')
    script(type='text/javascript', src='/js/controllers/InteractionListCtrl.js')
    script(type='text/javascript', src='/js/controllers/InteractionMerchantListCtrl.js')
    script(type='text/javascript', src='/js/controllers/InteractionViewCtrl.js')
