doctype html
html(lang='en')
  head
    title= pageTitle
  body(ng-app='hubbubApp')
    .container(ng-view='')

    script(type='text/javascript', src='/components/angular/angular.min.js')
    script(type='text/javascript', src='/js/app.js')
    script(type='text/javascript', src='/js/controllers/HomeCtrl.js')
    script(type='text/javascript', src='/js/controllers/ClientListCtrl.js')
    script(type='text/javascript', src='/js/controllers/ClientViewCtrl.js')
    script(type='text/javascript', src='/js/controllers/ClientEditCtrl.js')
    script(type='text/javascript', src='/js/controllers/ClientNewCtrl.js')
    script(type='text/javascript', src='/js/controllers/MerchantListCtrl.js')
    script(type='text/javascript', src='/js/controllers/MerchantViewCtrl.js')
    script(type='text/javascript', src='/js/controllers/MerchantEditCtrl.js')
    script(type='text/javascript', src='/js/controllers/MerchantNewCtrl.js')